{% extends "layout.html" %}
{% block content %}
<h1 class="title">Add Doctor</h1>
<div class="card">
  <form class="form" method="post">
    <div class="grid cols-2">
      <label>Full Name *
        <input name="full_name" required placeholder="e.g., Dr. Nimal Fernando">
      </label>
      <label>Specialization *
        <input name="specialization" required placeholder="e.g., Cardiology">
      </label>
    </div>
    <br>
    <button class="btn success" type="submit">Save</button>
    <a class="pill" href="{{ url_for('doctors') }}" style="margin-left:10px;">Cancel</a>
  </form>
</div>
{% endblock %}
